<div class='expanded-monitor'>
    <div class='data-view clearfix'>
        <div class='authentication-stats'>
            <label>{{monitor.name}}</label>
            <fieldset class='name-field'>
                <input id='monitorName' class='monitor-name' type='text' value='{{monitor.name}}'>
                <button class='name-save btn btn-mini btn-primary' type='button'>Done</button>
            </fieldset>
            <figure class='graph'></figure>
        </div>
    </div>

    <div class='alerts-output clearfix'>
        <ul class='nav nav-tabs'>
            <li class='active'>
                <a class='alerts-tab' data-toggle='tab' href='#viewAlerts'>
                    <i class='icon-bell-alt'></i> Alerts History
                </a>
            </li>
            <li>
                <a class='output-tab' data-toggle='tab' href='#viewOutput'>
                    <i class='icon-desktop'></i> Output
                </a>
            </li>
        </ul>
        <div class='tab-content'>
            <div id='viewAlerts' class='tab-pane active'>
                <div class='alerts-history'>
                    <ul>
                        {{#alerts}}
                        <li>
                            <h1>Incident #{{this.id}}</h1>
                            <h2>Opened on {{this.label}}</h2>
                            <p>{{this.message}}</p>
                            <button type='button' class='btn btn-mini btn-inverse' data-date='{{this.label}}'>View in Graph</button>
                        </li>
                        {{/alerts}}
                    </ul>
                </div>
            </div>
            <div id='viewOutput' class='tab-pane'>
                <textarea class='output-view'>{{#output}}{{this}}{{/output}}</textarea>
            </div>
        </div>
    </div>

    <div class='metrics-schedule clearfix'>
        <ul class='nav nav-tabs'>
            <li class='active'>
                <a href='#viewMetrics' data-toggle='tab' class='metrics-tab'>
                    <i class='icon-desktop'></i> View Metrics
                </a>
            </li>
            <li>
                <a href='#viewSchedule' data-toggle='tab' class='schedule-tab'>
                    <i class='icon-time'></i> View Schedule
                </a>
            </li>
        </ul>
        <div class='tab-content'>
            <div class='tab-pane active' id='viewMetrics'>
                <form class='clearfix'>
                    <fieldset class='expressions'>
                        <label>Enter Expressions: <i>( fullscreen mode: ctrl + f )</i></label>
                        <textarea id='inputExpressions' placeholder='' rows='3'>{{monitor.monitorExpr}}</textarea>
                    </fieldset>
                    <div class='metrics-test'>
                        <fieldset class='metrics'>
                            <label>Enter Metrics: <i>( fullscreen mode: ctrl + f )</i></label>
                            <textarea id='inputMetrics' placeholder='' rows='3'>{{#monitor.metrics}}{{this}}
{{/monitor.metrics}}</textarea>
                        </fieldset>
                        <fieldset class='minutes-back'>
                            <label>Minutes Back</label>
                            <input type='text' value='{{monitor.minutes}}' class='input-minutes-back'>
                        </fieldset>
                        <fieldset class='from'>
                            <label>From:</label>
                            <input type='text' class='input-from-date date-picker' value='{{monitor.toDate}}'>
                        </fieldset>
                        <fieldset class='previous-errors'>
                            <label>Previous Errors:</label>
                            <select id='selectPreviousError'>
                                {{#errors}}
                                <option value='{{this.value}}'>{{this.label}}</option>
                                {{/errors}}
                            </select>
                        </fieldset>
                        <fieldset class='test-in-graph'>
                            <label>&nbsp;</label>
                            <button class='btn btn-success' type='button' data-loading-text='Testing...'>
                                Test Monitor
                            </button>
                        </fieldset>
                    </div>
                </form>
            </div>
            <div class='tab-pane' id='viewSchedule'>
                <fieldset class='form-horizontal'>
                    <div class='control-group'>
                        <label class='control-label' for='inputSeconds'>Seconds</label>
                        <div class='controls'>
                            <input type='text' id='inputSeconds' name='inputSeconds' value='0' class='input-mini' placeholder='12'>
                        </div>
                    </div>
                    <div class='control-group'>
                        <label class='control-label' for='inputMinutes'>Minutes</label>
                        <div class='controls'>
                            <input type='text' id='inputMinutes' name='inputMinutes' value='*' class='input-mini'>
                        </div>
                    </div>
                    <div class='control-group'>
                        <label class='control-label' for='inputHours'>Hours</label>
                        <div class='controls'>
                            <input type='text' id='inputHours' name='inputHours' value='*' class='input-mini'>
                        </div>
                    </div>
                    <div class='control-group'>
                        <label class='control-label' for='inputDays'>Days</label>
                        <div class='controls'>
                            <input type='text' id='inputDays' name='inputDays' value='*' class='input-mini'>
                        </div>
                    </div>
                </fieldset>
                <fieldset class='day-month-picker'>
                    <label>Weekday</label>
                    <div class='day-picker btn-group' data-toggle='buttons-checkbox'>
                        <button type='button' class='sun btn btn-inverse' data-value='Sun'>Sun</button>
                        <button type='button' class='mon btn btn-inverse' data-value='Mon'>Mon</button>
                        <button type='button' class='tue btn btn-inverse' data-value='Tue'>Tue</button>
                        <button type='button' class='wed btn btn-inverse' data-value='Wed'>Wed</button>
                        <button type='button' class='thu btn btn-inverse' data-value='Thu'>Thu</button>
                        <button type='button' class='fri btn btn-inverse' data-value='Fri'>Fri</button>
                        <button type='button' class='sat btn btn-inverse' data-value='Sat'>Sat</button>
                    </div>
                    <label>Month</label>
                    <div class='month-picker btn-group' data-toggle='buttons-checkbox'>
                        <button type='button' class='jan btn btn-inverse' data-value='Jan'>Jan</button>
                        <button type='button' class='feb btn btn-inverse' data-value='Feb'>Feb</button>
                        <button type='button' class='mar btn btn-inverse' data-value='Mar'>Mar</button>
                        <button type='button' class='apr btn btn-inverse' data-value='Apr'>Apr</button>
                        <button type='button' class='may btn btn-inverse' data-value='May'>May</button>
                        <button type='button' class='jun btn btn-inverse' data-value='Jun'>Jun</button>
                        <button type='button' class='jul btn btn-inverse' data-value='Jul'>Jul</button>
                        <button type='button' class='aug btn btn-inverse' data-value='Aug'>Aug</button>
                        <button type='button' class='sep btn btn-inverse' data-value='Sep'>Sep</button>
                        <button type='button' class='oct btn btn-inverse' data-value='Oct'>Oct</button>
                        <button type='button' class='nov btn btn-inverse' data-value='Nov'>Nov</button>
                        <button type='button' class='dec btn btn-inverse' data-value='Dec'>Dec</button>
                    </div>
                </fieldset>
                <fieldset class='description control-group'>
                    <label for='description' class='control-label'>Monitor Description (Not Required):</label>
                    <textarea rows='3' id='description' name='description'>{{monitor.description}}</textarea>
                </fieldset>
                <fieldset class='pager-duty control-group'>
                    <label for='pagerDuty' class='control-label'>Add PagerDuty Keys or Email Addresses (Not Required):</label>
<textarea rows='3' id='pagerDuty' name='pagerDuty' placeholder='Multiple keys and/or email addresses can be entered (separated by a space, comma or new line).'>{{#monitor.alertKeys}}{{this}}
{{/monitor.alertKeys}}</textarea>
                </fieldset>
            </div>
        </div>
        <div class='button-view clearfix'>
            <fieldset class='action-buttons' style='clear: both; width: 100%; margin: 0px auto;'>
                <div class='row-fluid'>
                    <button type='button' class='save-changes btn btn-large btn-primary span6'>Save Changes</button>
                    <button type='button' class='cancel-changes btn btn-large btn-inverse span3'>Cancel</button>
                    <a href='#deleteMonitor' class='delete-monitor btn btn-large btn-inverse span3' role='button' data-toggle='modal' data-keyboard='false'>Delete Monitor</a>
                </div>
            </fieldset>
        </div>
    </div>
</div>