<div id='smallMonitor{{monitor.id}}' class='small-monitor'>
    <figure class='front'>
    <div class='header-controls clearfix'>
        <h1 class='header-name' rel='tooltip' data-delay='1000' data-original-title='{{monitor.name}}'><span><p>{{monitor.name}}</p></span></h1>
        <span class='truncated-text'>...</span>
        <span class='activate btn-group' data-toggle='buttons-radio'>
        {{#if monitor.active}}
            <button type='button' class='monitor-inactive btn btn-mini btn-inverse'>
                off
            </button>
            <button type='button' class='monitor-active btn btn-mini btn-inverse active'>
                on
            </button>
        {{else}}
            <button type='button' class='monitor-inactive btn btn-mini btn-inverse active'>
                off
            </button>
            <button type='button' class='monitor-active btn btn-mini btn-inverse'>
                on
            </button>
        {{/if}}
        </span>
        <span class='settings btn-group'>
            <button class='btn btn-mini btn-inverse' type='button'>
                <i class='icon-cog icon-white'></i>
            </button>
        </span>
    </div>
    <figure class='graph'>{{monitor.graph}}</figure>
    </figure>
    <figure class='back'>
        <fieldset>
            <figure class='description'>
            {{#if monitor.description}}
                <p>{{nl2br monitor.description}}</p>
            {{else}}
                <p>There is no description for this monitor... &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
            {{/if}}
            </figure>
            <div class='btn-wrap'>
                <button class='save btn btn-large btn-primary'><i class='icon-ok icon-white'></i></button>
            </div>
        </fieldset>
    </figure>
</div>